<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-game"
    version="1.0.135">
	
    <name>Cordova Game plugin</name>
    <description>show leaderboard and achievements (google play game and game center, SDK)</description>
    <author>Sang Ki Kwon (Cranberrygame) - Modify by Fred Oliveira and Elmer Nanches</author>	
    <license>MIT</license>
    <keywords>cordova,plugin,game,google play game,game center</keywords>
    <repo>https://github.com/guimaraf/cordova-plugin-game</repo>
    <issue>https://github.com/guimaraf/cordova-plugin-game/issues</issue>	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
 		
    <js-module src="www/game.js" name="game">
        <clobbers target="window.game" />
    </js-module>
	
	<dependency id="cordova-plugin-extras-google-play-services" url="https://github.com/guimaraf/cordova-plugin-extras-google-play-services" />
	<!--dependency id="reinarte-gms" url="https://github.com/guimaraf/reinarte-gms" /-->
	<!--dependency id="support-play-services-release" url="https://github.com/guimaraf/support-play-services-release" /-->

    <!-- android -->
    <platform name="android">
		<preference name="APP_ID" />	

		<!--config-file target="app/src/main/res/values/ids.xml" parent="/*"-->
		<config-file target="app/src/main/res/values/strings.xml" parent="/resources">
			<string name="app_id">$APP_ID</string>
		</config-file>

	    <config-file target="config.xml" parent="/*">
			<feature name="Game" >
				<param name="android-package" value="com.cranberrygame.cordova.plugin.game.Game"/>
			</feature>
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>		
	
		<source-file src="src/android/ids.xml" target-dir="app/src/main/res/values" />
		
		<source-file src="src/android/GameHelper.java" target-dir="src/com/google/example/games/basegameutils"/>		
		<source-file src="src/android/GameHelperUtils.java" target-dir="src/com/google/example/games/basegameutils"/>		
		<source-file src="src/android/Game.java" target-dir="src/com/cranberrygame/cordova/plugin/game"/>

		<framework src="com.google.android.gms:play-services-games:16.0.1" />
		<framework src="com.google.android.gms:play-services-plus:16.0.1" />
    </platform>
</plugin>